.bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
        height: 20rem;
        width: auto;
        margin: 2rem 3rem 2rem 3rem;
        object-fit: cover;
        transition: height, 1s;
        &:hover {
        height: 25rem;
            }
      
       
    }
}
.bioTexto {
    margin-right: 3rem;
    padding: 2rem;
    width: 26rem;
    height: auto;
    text-align: justify;
    color: $colorNegro;
}

.exposicionesTexto {
    margin-right: 3rem;
    padding-left:2rem;
    width: 26rem;
    height: auto;
    text-align: justify;
    color: $colorNegro;
}

.cajaExposiciones
    p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
        padding: 2rem;
        color: $colorNegro;

    }
