.contacto {
  margin: 5rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img {
      height: 40rem;
      width: auto;
      margin: 2rem 3rem 2rem 3rem;
      object-fit: cover;
      transition: ease-in, 1s;
      &:hover {
      height: 25rem;
    }
  }
}

.formulario {
    max-width: 35rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
      
    fieldset {
      padding: 1rem;
      margin: 0 0 2rem 1rem;
     
    }
  
  }
  
.campo {
    display: flex;
    margin-bottom: 2rem;

  
    label {
      flex-basis: 6rem;
    }
  
    input, textarea {
      flex: 1;
      border: 1px solid #EEF4ED;
      padding: 1rem;
    }
}