html {
    font-size: 62,5%; /* 1REM = 10px */
}

.container-fluid {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/paper.png);
}
