html {
    font-size: 62,5%; /* 1REM = 10px */
}

.container-fluid {
    margin: 0%;
    padding: 0%;
}


h1 {
    color: $colorSecundario;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    margin: 0 0 2 0;
    padding: 1;
}

h2 {
    color: $colorSecundario;
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1rem 2.2rem;
  }

h3 {
    font-size: 1rem;
    font-weight: 600;
    color: $colorNegro;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2.2rem;

}

  p {
    color: $colorNegro;
    font-family: $fontTexto;
    font-weight: 400;
    font-size: 1rem;
  }

  .btn {
    background-color: $colorAcento;
    color: #EEF4ED;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    transition: background-color .1s ease-out;
    text-align: center;
    border: none;
    margin: 2rem 7rem;
    &:hover {
    background-color:palevioletred;
    color: #EEF4ED;
    cursor:pointer;
    }
  }
