nav {
        
        ul {
            display: flex;
            justify-content: space-around;
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        &:hover {
                            text-decoration: none;
                            color: #26619C;
                        }
                    }
                }

            }
        }
    
        
        
.margin-menu{
    margin: 2rem 0rem;
}

.logo_header{
    width: 25%;
}

.menu{
    margin: 2rem 0rem;
}