nav {
        
        ul {
            @include flexbox;
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        &:hover {
                            text-decoration: none;
                            color: #26619C;
                        }
                    }
                }

            }
        }
    
        
        
.marginMenu{
    margin: 2rem 0rem;
}

.logoHeader{
    width: 25%;
}

.menu{
    margin: 2rem 0rem;
    border-bottom: 0.01rem solid $colorNegro;
}