.heroText h4 {
    font-size: 0.75rem;
    font-family:"Montserrat", sans-serif;
    width: 17rem;
    padding-left: 7rem;   
}

.heroImg {
        padding-left: 5rem;
    }

.mainIndex {
    background-image: url("../img/hero_home.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
}

.fraseBg {
    background-image: url("../img/felino_arte.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

.muestra {
    width: 100%;
}

.firma {
    font-family: Georgia, serif;
    font-size: 1.25rem;
    color:$colorSecundario;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
}