.hero-text h4{
    font-size: 0.75rem;
    font-family:"Montserrat";
    width: 17rem;
    padding-left: 7rem;   
}
.hero-img{
        padding-left: 5rem;
    }


/*.hero-bg{
    background-image: url("../img/hero_home.png");
    background-size: cover;
    background-repeat: no-repeat;
}*/

.main_index{
    background-image: url("../img/hero_home.png");
    background-size: cover;
    background-repeat: no-repeat;
}
