/** TABLET **/

@media screen and (max-width: 768px) {

   .menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   }
   
   .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .footerRedes {
      display: flex;
      flex-direction: column;
      background-color: $colorAcento;
     }
    }

   .bio {
    
      img {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
      p {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
  }
}
  
/** MOBILE **/

@media screen and (max-width: 425px) {
      .menu {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      
    }
   
  .bio {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    img {
      max-width: 85%;
     margin: 0;
     padding: 0;
     }
     p {
      max-width: 85%;
      margin: 0;
      padding: 0;
     }
   }
   
   .galeria {
     max-width: 85%;
     
   }

   .tienda {
     max-width: 80%;
     margin: 0 auto;
   }
  
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .footerRedes {
      display: flex;
      flex-direction: column;
      background-color: $colorAcento;
     }
    }
}
