/** TABLET **/

@media screen and (max-width: 810px) {


  .margenesSeccion {
    margin: 1rem 4rem;
    }

  .menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   }
   
   .footer {
    height: 8rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      img {
        margin-left: 1rem;
      }
      p {
        font-size: 0.8rem;
      }

      .footerRedes {
        margin: 0;
        padding-left: 1rem;
       
      }
    
    }

   .bio {
    
      img {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
      p {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
  }

  .bioVid {
    width:100%;
    height: auto;
    margin: 3% 0% 0% 0%;
    padding-left: 3rem;
  }


  .galeria {
     img {
        height: 15rem;
        width: auto;
        margin: 1rem auto 1rem auto;
        padding: 0.2rem;
      
      }
      
      h3 {
        font-size: 1rem;
        margin: 0.5rem 0 0 1rem;
        padding: 0;
        }
    p {
        font-size: 0.8rem;
        margin: 0 0 0 1rem;
        padding: 0;
      }
  }

  .tienda { 
    padding-left: 1rem;
      h3 {
        font-size: 1rem;
      }
    
      p {
        font-size: 0.8rem;
      }
    }

  .precio {
    font-size: 1rem;
  }

  .btn-tienda {
    margin: 0.8rem;
    font-size: 0.9rem;
  }

  

  .contactoImg {
    height: 18rem;
    margin: 1rem;
  }
  
  .formulario {
    width: 100%;
    margin: 1rem auto;
  
  }
  
  .campo {
    margin-bottom: 1rem;
  
  
    label {
      font-size: 1rem;
    }
  
    input, textarea {
      max-width: 100%;
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }

}


  
/** MOBILE **/

@media screen and (max-width: 425px) {
  .menu {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      
    }

  .logoHeader{
      width: 35%;
      margin-left: 2rem;
    }

  .margenesSeccion {
    margin: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

  
  .bio {
    flex-direction: column;
    align-items: center;
    margin: 0.2;
    padding: 0.2;
    
     p {
      max-width: 85%;
      margin: 0.2rem;
      padding: 0.2rem;
     }
   }

  .bioImg {
  max-width: fit-content;
  margin: 1rem auto 1.8rem auto;
  padding: 0.2rem;
  transition: none !important;
}


  .bioVid {
  width:100%;
  height: auto;
  margin: 3% 0% 0% 0%;
  }
 
  .galeria {
    max-width: 85%;
    display: flex;
    flex-direction: row;
      img {
        height: 20rem;
        width: auto;
        margin: 1rem auto 1rem auto;
        padding: 0.2rem;
      }
      
      h3 {
        font-size: 1rem;
        margin: 0.5rem 0 0 1rem;
        padding: 0;
        }
    p {
        font-size: 0.8rem;
        margin: 0 0 0 1rem;
        padding: 0;
      }
  }
      

  .tienda {
     max-width: 80%;
     margin: 0 auto;
     padding: 0;
}

.contactoImg {
  display: none;
}

.formulario {
  width: 100%;
  margin: auto;

}

.campo {
  margin-bottom: 1rem;


  label {
    font-size: 1rem;
  }

  input, textarea {
    max-width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.footer {
  margin: 0;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  height: 22rem;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    img {
      padding: 0;
      margin: 0;
    }
    p {
      margin: 0.5rem 0 0.5rem 0;
      font-size: 0.8rem;
    }
}
}