/** TABLET **/

@media screen and (max-width: 768px) {

   .menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   }
   
   .footer {
    height: 8rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      img {
        margin-left: 1rem;
      }
      p {
        font-size: 0.8rem;
      }

      .footerRedes {
        margin: 0;
        padding-left: 1rem;
       
      }
    
    }

   .bio {
    
      img {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
      p {
      object-fit: contain;
      margin: 0;
      padding: 0;
    }
  }
}
  
/** MOBILE **/

@media screen and (max-width: 425px) {
      .menu {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      
    }
   
  .bio {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    img {
      max-width: 85%;
     margin: 0;
     padding: 0;
     }
     p {
      max-width: 85%;
      margin: 0;
      padding: 0;
     }
   }
   
   .galeria {
     max-width: 85%;
     
   }

   .tienda {
     max-width: 80%;
     margin: 0 auto;
   }

 
.footer {
  margin: 0;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  height: 11rem;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    img {
      padding: 0;
      margin: 0;
    }
    p {
      margin: 0.5rem 0 0 0;
      font-size: 0.8rem;
    }

  }
  
  
  }
  
 

