.tienda {
    img {
      height: 25rem;
      width: auto;
      align-items: right;
      margin-left: 2rem;
    }
  
    h3 {
      text-align: center;
    }
  
    p {
      text-align: center;
      padding: 0.5rem;
    }
  }
  
.precio {
    text-align: center;
    font-weight: bold;
}