$colorPrincipal: #0B2545;

$colorSecundario: #13315C;

$colorTerciario: #26619C;

$colorBlanco: #EEF4ED;

$colorNegro: #000000;

$colorAcento: #C95C7F;

$tituloPagina: 1.5rem;

$fontTituloPagina: 'Montserrat', sans-serif;

$fontTexto: 'Montserrat', sans-serif;

$estilos: (
  color: #000000,
  izq: left,
  fuente: $fontTexto,
);


.btn {
    background-color: $colorSecundario;
    color: #EEF4ED;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    transition: background-color .1s ease-out;
    text-align: center;
    border: none;
    margin: 2rem 7rem;
    &:hover {
      background-color: $colorTerciario;
      color: #EEF4ED;
      cursor:pointer;
      }
  }

.btn-obra {
  @extend .btn;
  background-color: $colorAcento;
  &:hover {
    background-color:palevioletred;
    color: #EEF4ED;
    }
}

.btn-form {
  @extend .btn;
  margin: 1rem;
}

.btn-tienda {
  @extend .btn-obra;
  margin: 1rem;
}

@mixin flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@keyframes imgAnimation {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
  
}