$colorPrincipal: #0B2545;

$colorSecundario: #13315C;

$colorTerciario: #26619C;

$colorBlanco: #EEF4ED;

$colorAcento: #C95C7F;

$tituloPagina: 1.5rem;

$fontTituloPagina: 'Montserrat', sans-serif;

$fontTexto: 'Montserrat', sans-serif;