.btn, .btn-obra, .btn-tienda, .btn-form {
  background-color: #13315C;
  color: #EEF4ED;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  transition: background-color .1s ease-out;
  text-align: center;
  border: none;
  margin: 2rem 7rem; }
  .btn:hover, .btn-obra:hover, .btn-tienda:hover, .btn-form:hover {
    background-color: #26619C;
    color: #EEF4ED;
    cursor: pointer; }

.btn-obra, .btn-tienda {
  background-color: #C95C7F; }
  .btn-obra:hover, .btn-tienda:hover {
    background-color: palevioletred;
    color: #EEF4ED; }

.btn-form {
  margin: 1rem; }

.btn-tienda {
  margin: 1rem; }

@keyframes imgAnimation {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 200px;
    top: 0px; }
  50% {
    left: 200px;
    top: 200px; }
  75% {
    left: 0px;
    top: 200px; }
  100% {
    left: 0px;
    top: 0px; } }

html {
  font-size: 62,5%;
  /* 1REM = 10px */ }

.container-fluid {
  margin: 0%;
  padding: 0%; }

.margenesSeccion {
  margin: 5rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

h1 {
  color: #13315C;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 2 0;
  padding: 1; }

h2 {
  color: #13315C;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1.5rem;
  padding: 1rem 2.2rem; }

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2.2rem; }

p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  nav ul li {
    list-style-type: none; }
    nav ul li a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      color: #000; }
      nav ul li a:hover {
        text-decoration: none;
        color: #26619C; }

.marginMenu {
  margin: 2rem 0rem; }

.logoHeader {
  width: 25%; }

.menu {
  margin: 2rem 0rem;
  border-bottom: 0.01rem solid #000000; }

.footer {
  background-color: #C95C7F;
  height: 10rem;
  padding-top: 3.2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4rem; }
  .footer img {
    width: 6rem;
    height: 5rem; }
  .footer p {
    color: #EEF4ED;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 4.2rem; }

.footerRedes img {
  width: 1rem;
  height: 1rem; }

.footerRedes a {
  color: #EEF4ED;
  text-decoration: none;
  margin-top: 5rem;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right; }

.heroText h4 {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  width: 17rem;
  padding-left: 7rem; }

.heroImg {
  padding-left: 5rem; }

.mainIndex {
  background-image: url("../img/hero_home.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem; }

.fraseBg {
  background-image: url("../img/felino_arte.png");
  background-size: contain;
  background-repeat: no-repeat; }

.muestra {
  width: 100%; }

.firma {
  font-family: Georgia, serif;
  font-size: 1.25rem;
  color: #13315C;
  font-style: italic;
  text-align: center;
  margin-top: 2rem; }

.bioImg {
  height: 20rem;
  width: auto;
  margin: 2rem 3rem 2rem 3rem;
  object-fit: cover;
  transition: height, 1s; }
  .bioImg:hover {
    height: 25rem; }

.bioTexto {
  margin-right: 3rem;
  padding: 2rem;
  height: auto;
  text-align: justify;
  color: #000000; }

.exposicionesTexto {
  margin-right: 3rem;
  padding-left: 2rem;
  width: 26rem;
  height: auto;
  text-align: justify;
  color: #000000; }

.cajaExposiciones p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  color: #000000; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem; }
  .galeria img {
    height: 20rem;
    width: auto;
    margin-top: 2rem;
    margin-left: 3rem;
    object-fit: cover;
    transition: ease-in, 1s; }
    .galeria img:hover {
      height: 25rem; }
  .galeria h3 {
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0 3rem;
    padding: 0.1rem; }
  .galeria p {
    color: #000000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.1rem 0 0 3rem;
    padding: 0.1rem; }

.tienda img {
  align-items: right; }

.tienda h3 {
  text-align: center; }

.tienda p {
  text-align: left;
  padding: 0.5rem; }

.precio {
  text-align: left;
  font-weight: bold; }

.contactoImg {
  height: 40rem;
  width: auto;
  margin: 2rem 3rem 2rem 3rem;
  object-fit: cover;
  position: relative;
  animation-name: imgAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: infinite; }

.formulario {
  max-width: 35rem;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }
  .formulario fieldset {
    padding: 1rem;
    margin: 0 0 2rem 1rem; }

.campo {
  display: flex;
  margin-bottom: 2rem; }
  .campo label {
    flex-basis: 6rem; }
  .campo input, .campo textarea {
    flex: 1;
    border: 1px solid #EEF4ED;
    padding: 1rem; }

/** MOBILE 

@media screen and (max-width: 425px) {
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1rem;
      margin-top: 0.5rem;
      padding: 0.3rem;
    }


/**
  
.menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    li {
      font-size: 0.5rem
    }
}
 
.bio {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  img {
    max-width: 85%;
   margin: 0;
   padding: 0;
   }
   p {
    max-width: 85%;
    margin: 0;
    padding: 0;
   }
 }
 
 .galeria {
   max-width: 85%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  a {
    display: flex;
    flex-direction: column;
   }
  
  
  }


/** TABLET


@media screen and (max-width: 768px) {

  h1 {font-size: 1.8rem;
    margin-top: 0.4rem;
  }
  h2 {font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0.3rem;
  }
  
.menu {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    li {
      font-size: 1rem;
   }
}

.bio {
  img {
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  p {
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
}
**/
