html {
  font-size: 62,5%;
  /* 1REM = 10px */ }

.container-fluid {
  margin: 0%;
  padding: 0%; }

h1 {
  color: #13315C;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 2 0;
  padding: 1; }

h2 {
  color: #13315C;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1.5rem;
  padding: 1rem 2.2rem; }

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2.2rem; }

p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem; }

nav {
  border-bottom: #0B2545, solid 0.1rem;
  margin-bottom: 2rem; }
  nav ul {
    display: flex;
    justify-content: space-around; }
    nav ul li {
      list-style-type: none; }
      nav ul li a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #000; }
        nav ul li a:hover {
          text-decoration: none;
          color: #26619C; }

footer {
  background-color: #C95C7F;
  height: 10rem;
  padding-top: 3.2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-around; }
  footer img {
    width: 6rem;
    height: 5rem; }
  footer p {
    color: #EEF4ED;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 4.2rem; }

.footerRedes img {
  width: 1rem;
  height: 1rem; }

.footerRedes a {
  color: #EEF4ED;
  text-decoration: none;
  margin-top: 5rem;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: right; }

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .bio img {
    height: 20rem;
    width: auto;
    margin: 2rem 3rem 2rem 3rem;
    object-fit: cover;
    transition: height, 1s; }
    .bio img:hover {
      height: 25rem; }

.bioTexto {
  margin-right: 3rem;
  padding: 2rem;
  width: 26rem;
  height: auto;
  text-align: justify;
  color: #000000; }

.exposicionesTexto {
  margin-right: 3rem;
  padding-left: 2rem;
  width: 26rem;
  height: auto;
  text-align: justify;
  color: #000000; }

.cajaExposiciones
p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  color: #000000; }

.hero-text h4 {
  font-size: 0.75rem;
  font-family: "Montserrat";
  width: 17rem;
  padding-left: 7rem; }

.hero-img {
  padding-left: 5rem; }

/*.hero-bg{
    background-image: url("../img/hero_home.png");
    background-size: cover;
    background-repeat: no-repeat;
}*/
.main_index {
  background-image: url("../img/hero_home.png");
  background-size: cover;
  background-repeat: no-repeat; }
